/**
 * Created by p.bansal on 09-Dec-19.
 */
.lgc-bg {
    background-color: rgb(242, 242, 242);
    justify-content: left !important; 
}

.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.THIS th{text-align: center !important;}
.THIS .slds-spinner-container  {
    background-color: rgba(0, 0, 0, 0.10);
    margin-top: 200px;
    margin-bottom: 200px; 
}